<po-page-edit p-title="Edição de Disciplina" (p-cancel)="cancel()" [p-breadcrumb]="newBreadcrumb" 
    (p-save)="registerDiscipline()">

    <form [formGroup]="disciplineEditForm">
        <div class="po-row">
            <po-input class="po-md-6" [(ngModel)]="nome" formControlName="nome" name="nome" p-clean
                p-label="Nome da Disciplina" p-required> </po-input>

            <po-multiselect class="po-md-6" [(ngModel)]="turma" formControlName="turma" [p-options]="opcoesTurma"
                name="turma" p-label="Turma"> </po-multiselect>

            <po-select class="po-md-6" [(ngModel)]="responsavel" formControlName="responsavel"
                [p-options]="opcoesResponsavel" name="responsavel" p-label="Responsável"> </po-select>
        </div>

        <div class="po-row">
            <po-checkbox-group [(ngModel)]="periodo" formControlName="periodo" class="po-md-6" name="periodo"
                p-columns="3" p-label="Período" [p-options]="[
                    { value: '1', label: 'Matutino' },
                    { value: '2', label: 'Vespertino' },
                    { value: '3', label: 'Noturno' }
                ]">
            </po-checkbox-group>
        </div>

        <div class="po-row">
            <div class="po-md-2">
                <po-info p-label="Horário Início"></po-info>
                <input [(ngModel)]="horaInicio" formControlName="horaInicio" type="time" class="hora-inicio po-md-6"
                    name="hora-inicio" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
            </div>
            <div class="po-md-2">
                <po-info p-label="Horário Fim"></po-info>
                <input [(ngModel)]="horaFim" formControlName="horaFim" type="time" class="hora-fim po-md-6"
                    name="hora-fim" placeholder="HH:mm:ss" min="00:00:00" max="24:00:00" required />
            </div>
        </div>

        <div class="po-row">
            <po-number [(ngModel)]="qntdImagens" formControlName="qntdImagens" (click)="popupImagens.toggle()" class="po-md-2" #imagens
                name="qntd-imagens" p-clean p-label="Quantidade de capturas por aula" p-required>
            </po-number>

            <po-number [(ngModel)]="qntdPresenca" formControlName="qntdPresenca" (click)="popupPresenca.toggle()" class="po-md-2" #presenca
                name="qntd-presenca" p-clean p-label="Quantidade de presenças" p-required>
            </po-number>

            <po-number [(ngModel)]="cargaHoraria" formControlName="cargaHoraria" (click)="popupCargaHoraria.toggle()" class="po-md-2" #carga
                p-maxlength="2" p-max="60" name="carga-horaria" p-clean p-label="Carga horária da aula" p-required>
            </po-number>
        </div>
    </form>

    <po-popup
        [p-actions]="[{ label: 'Ex: Dentro de todo o período da aula, preciso que o sistema faça 5 capturas de presença.' }]"
        #popupImagens p-position="bottom" [p-target]="qntdImagensRef">
    </po-popup>

    <po-popup
        [p-actions]="[{ label: 'Ex: Da quantidade de capturas definidas por aula, se 3 tiverem sucesso no reconhecimento, poderá marcar a presença do aluno.' }]"
        #popupPresenca p-position="bottom" [p-target]="qntdPresencaRef">
    </po-popup>

    <po-popup [p-actions]="[{ label: 'Ex: 45 minutos.' }]" #popupCargaHoraria p-position="bottom"
        [p-target]="cargaHorariaRef">
    </po-popup>

</po-page-edit>