.labels {
    font-family: var(--font-family-theme-bold),sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-field-container-color-title);
    display: table-cell;
    vertical-align: sub;
    width: 100%;
}

.presenca {
    position: relative;
    left: 3px;
}

.falta {
    position: relative;
    right: 6px;
}

.falta2 {
    position: relative;
    right: 12px;
}